nbproject/
*hclexer.h
*hcparser.h
*hclexer.c
*hcparser.c
hc
hc.exe
hoo.exe
.cproject
.project
.settings/
.vs
.idea
*cmake-build-*
hooc/include/FlexScanner.hh
hooc/include/Parser.hh
hooc/include/Parser.hpp
hooc/src/FlexScanner.cpp
hooc/src/location.hh
hooc/src/position.hh
hooc/src/stack.hh
hooc/src/Parser.cpp


