nbproject/
build/
build-*/
out/
hc
hc.exe
hoo.exe
.cproject
.project
.settings/
.vs
.idea
*cmake-build-*
hoo/include/HooConfig.hh
hooc/grammar/.antlr
dist/
hooc/grammar/Hoo.interp
hooc/grammar/Hoo.tokens
hooc/grammar/HooBaseListener.cpp
hooc/grammar/HooBaseListener.h
hooc/grammar/HooLexer.cpp
hooc/grammar/HooLexer.h
hooc/grammar/HooLexer.interp
hooc/grammar/HooLexer.tokens
hooc/grammar/HooListener.cpp
hooc/grammar/HooListener.h
hooc/grammar/HooParser.cpp
hooc/grammar/HooParser.h
hooc/grammar/HooBaseVisitor.cpp
hooc/grammar/HooBaseVisitor.h
hooc/grammar/HooVisitor.cpp
hooc/grammar/HooVisitor.h
hooc/grammar/output/
packages/**/*.zip
downloads
venv
packages/*
