name: 'Build hoo'
on:
    push:
        branches: [ master ]
jobs:
    build:
        name: ${{ matrix.os }} Build
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-20.04]
        steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
            java-version: '11'
        - uses: actions/setup-python@v2
          with:
            python-version: '3.6'
        - name: Managed Build
          run: python ./confighoo.py --build-type=release
