name: 'Build hoo'
on:
    push:
        branches: [ master ]
jobs:
    linux-build:
        name: Ubuntu 20.0 Build
        runs-on: ubuntu-20.04
        steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
            java-version: '11'
        - uses: actions/setup-python@v2
          with:
            python-version: '3.6'
        - name: Configure
          run: python ./confighoo.py --build-type=release
        - name: Build
          run: cmake --build ${GITHUB_WORKSPACE}/out/x64/release/linux
        - name: Test
          run: cmake --build ${GITHUB_WORKSPACE}/out/x64/release/linux --target test
        - name: Compress Dist
          run: tar -cvzf hoolang.tar.gz -C ${GITHUB_WORKSPACE}/out/x64/release/linux dist

    windows-build:
        name: Windows 2019 Build
        runs-on: windows-2019
        steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
            java-version: '11'
        - uses: actions/setup-python@v2
          with:
            python-version: '3.6'
        - uses: ilammy/msvc-dev-cmd@v1
        - name: Configure
          run: python .\confighoo.py --build-type=release
        - name: Build
          run: cmake --build .\out\x64\release\win32
        - name: Test
          run: cmake --build .\out\x64\release\win32 --target test
